@import '../../GlobalStyle/GlobalVariables.module.scss';

.header {
    background-color: #222;
    height: 60px;
    @include displayFlexCenter();
}
.headerContent {
    @include display();
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoInput {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    margin-right: 30px;
}

.input {
    padding-left: 10px;
    height: 40px;
    width: 300px;
    outline: none;
    font-size: 1.8rem;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: rgb(237, 237, 237);
}

.iconInput {
    color: black;
    background-color: rgb(237, 237, 237);
    height: 40px;
    width: 40px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    border-left: 1px solid rgb(220, 220, 220);
    .iconInput__child {
        font-size: 1.55rem;
    }
    &:hover {
        color: rgb(208, 1, 1);
    }
}

.actions {
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    a {
        display: inline-block;
        width: 130px;
        display: flex;
        justify-content: center;
        color: white;
    }
    & > div {
        border-left: 1px solid rgb(97, 97, 97);
        height: 60px;
    }
    & > div:last-child {
        border-right: 1px solid rgb(97, 97, 97);
    }
}

.gotPadding {
    margin: 15px;
    width: 110px;
    transition: 0.6s ease;
    user-select: none;
    display: flex;
    justify-content: center;
    &:hover {
        color: #fe2c55;
        cursor: pointer;
        user-select: none;
    }
}

.icon {
    margin-right: 5px;
}
